<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Training</title>
</head>

<body>
    <!-- <input type="text" placeholder="filtra un utente" oninput="onInputText(event)">
    <button onclick="putUsers(event)">Elabora array</button>
    <div class="containerUsersCard">
    <% array.forEach((item,index) => { %>
        <div class="userCard"> <%= item.name %> 
        <img src="https://picsum.photos/100" alt="user-image">
        </div>
    <% }) %>
    </div> -->
    <h1>Guarda quanto è bello il mio spotify</h1>
    <div id="forma">
        <img id="foto" src="https://tse1.mm.bing.net/th?id=OIP._Y9BJQEcxL3zUL7IT-tztAHaHa&pid=Api&P=0&w=168&h=168">
        <input id="testo" placeholder="Cerca un utente">
    </div>
    <h3 id="lista">Lista utenti</h3>
    <div id="grid">

    </div>
    <script src="/axios"></script>
    <script src="../javascript/scripts.js"></script>
</body>

</html>